/**
 * weiqu_public_css
 *@zhangzheng
 *@Time 2016.11.19
 */

@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: helvetica;
}

a,
a:link,
a:active,
a:checked,
a:hover,
a:visited {
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
}

ul,
ol,
li {
	list-style: none;
	text-indent: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
	background-color: transparent;
	border: none;
	outline: none;
}

input::-webkit-input-placeholder，textarea:input::-webkit-input-placeholder {
	color: #7a7a84;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input {
	background: none;
	-webkit-appearance: none;
}

textarea {
	resize: none;
}

p,
div {
	word-break: break-all;
}

i {
	font-style: normal;
}
/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
/*蒙层样式*/
.layer{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-color:rgba(0,0,0,0.5) ;
}
